.que.essaycosine textarea.qtype_essay_response {
  width: 100%;
}

.que.essaycosine textarea.qtype_essay_response.qtype_essay_plain {
  white-space: pre-wrap;
  font: inherit;
}

.que.essaycosine textarea.qtype_essay_response.qtype_essay_monospaced {
  white-space: pre;
  font-family: Andale Mono, Monaco, Courier New, DejaVu Sans Mono, monospace;
}

.que.essaycosine .qtype_essay_response {
  min-height: 3em;
}

.que.essaycosine .qtype_essay_response.readonly {
  background-color: white;
  border-radius: 4px;
  padding: 6px 12px;
}

.que.essaycosine div.qtype_essay_response textarea {
  width: 100%;
}

.que.essaycosine .ablock .filemanager .fp-restrictions {
  margin-top: 1em;
}

table.essayautograde.review {
  border-collapse: separate;
  border-spacing:         0;
  color:            #7f4614;
}

table.essayautograde.review.stats {
  max-width:          360px;
}

table.essayautograde.review.feedback .c0 {
  max-width:          200px;
}

table.essayautograde.review tr,
table.essayautograde.review th,
table.essayautograde.review td {
  border: none;
}

table.essayautograde.review tr:first-child th,
table.essayautograde.review tr:first-child td {
  border-top: solid 1px #a65b1a;
}

table.essayautograde.review tr th:first-child,
table.essayautograde.review tr td:first-child {
  border-left: solid 1px #a65b1a;
}

table.essayautograde.review tr th:last-child,
table.essayautograde.review tr td:last-child {
  border-right: solid 1px #a65b1a;
}

table.essayautograde.review tr:last-child th,
table.essayautograde.review tr:last-child td {
  border-bottom: solid 1px #a65b1a;
}

table.essayautograde.review tr:first-child th:first-child,
table.essayautograde.review tr:first-child td:first-child {
  border-top-left-radius: 4px;
}

table.essayautograde.review tr:first-child th:last-child,
table.essayautograde.review tr:first-child td:last-child {
  border-top-right-radius: 4px;
}

table.essayautograde.review tr:last-child th:first-child,
table.essayautograde.review tr:last-child td:first-child {
  border-bottom-left-radius: 4px;
}

table.essayautograde.review tr:last-child th:last-child,
table.essayautograde.review tr:last-child td:last-child {
  border-bottom-right-radius: 4px;
}

table.essayautograde.review tbody tr:nth-of-type(odd) {
  background-color:       #fafafa;
}

table.essayautograde.review tbody tr:nth-of-type(even) {
  background-color:       #f0e5cc;
}

table.essayautograde.review ol,
table.essayautograde.review ul {
  margin:        0px 0px 0px 16px;
  padding:                    0px;
}